extends layout

block content
  .ui.container
    h1.ui.dividing.header
      | Profile

    .ui.breadcrumb
      a.section home
      i.right.angle.icon.divider
      a.section profile

    .ui.right.aligned.grid
      .column
        button.ui.labeled.icon.primary.button.updatePassword(href='/profile/edit')
          i.lock.icon
          | Update Password
        button.ui.labeled.icon.secondary.button.removeAccount(href='/profile/edit')
          i.remove.user.icon
          | Remove Account

    .ui.grid
      .six.wide.column
        .ui.card
          .blurring.dimmable.image
            .ui.dimmer
              .content
                .center
                  .ui.inverted.button Update Photo
            img(src='/images/profile.png')
          .ui.bottom.attached.button
            | Update Photo
      .ten.wide.column
        h5.ui.header Email
        span= user.email
        h5.ui.header Name
        span= user.name || 'Unknown'
        h5.ui.header Role
        span= user.role || 'User'
        h5.ui.header Password
        span ********
        h5.ui.header Joined at
        span= moment().format('YY/MM/DD HH:mm:ss')
        h5.ui.header Description
        span= user.description

  .ui.small.basic.modal.updatePassword
    .ui.icon.header
      | Update Password
    .content
      form.ui.form.updatePassword
        .field
          div.ui.left.icon.input
            i.lock.icon
            input(type='password', name='oldPassword', placeholder='Old Password')
        .field
          div.ui.left.icon.input
            i.lock.icon
            input(type='password', name='newPassword', placeholder='New Password')
        .field
          div.ui.left.icon.input
            i.fa-key.icon
            input(type='password', name='confirmPassword', placeholder='Confirm Password')
    .actions
      .ui.red.cancel.basic.inverted.button
        i.remove.icon
        | Cancel
      .ui.green.ok.inverted.button
        i.checkmark.icon
        | OK

  .ui.small.basic.modal.removeAccount
    .ui.icon.header
      i.help.circle.sign.icon
      | Are you sure?
    .actions
      .ui.red.cancel.basic.inverted.button
        i.remove.icon
        | No
      .ui.green.ok.inverted.button
        i.checkmark.icon
        | Yes

  script.
    $('.ui.button.updatePassword').click(updatePassword)
    $('.ui.button.removeAccount').click(removeAccount)

    $('.ui.modal.updatePassword').modal({
      onApprove () {
        console.log('updatePassword.onApprove')
        $.post('/profile/updatePassword', $('.ui.form.updatePassword').serialize())
          .then(_ => toastr.success('Successfully updated your password.'))
          .catch(err => toastr.error(err.responseText))
      }
    })

    $('.ui.modal.removeAccount').modal({
      onApprove () {
        console.log('removeAccount.onApprove')
        $.post('/profile/removeAccount')
          .then(data => window.location.href = '/')
          .catch(toastr.error)
      }
    })

    function updatePassword (e) {
      console.log('#updatePassword')
      $('.ui.modal.updatePassword').modal('show')
    }

    function removeAccount (e) {
      console.log('#removeAccount')
      $('.ui.modal.removeAccount').modal('show')
    }
