extends ../layout

block content
  .ui.container
    h1.ui.dividing.header Article
      .ui.sub.header
        if article._id
          | Edit
        else
          | New
    if error
      .notification.is-primary= error
    form.ui.form(method='POST')
      .field
        label(for='title') Title
        input#title.input(name='title', type='text', value=article.title, required)
      .field
        label(for='slug') Slug
        input#slug.input(name='slug', type='text', value=article.slug, required)
      .field
        label(for='text') Text
        textarea#text.textarea(name='text', rows='5')= article.text
      .inline.field
        .ui.checkbox
          input#published.hidden(name='published', type='checkbox' tabindex='0' vlaue=article.published)
          label(for='published') Published
      button.ui.button.is-primary(type='submit') Save
